<div id="ja" style="visibility: hidden; display:none">
<li class="nav-item is-active is-current-path" data-depth="0">
        <ul class="nav-list">
          <li class="nav-item is-active is-current-path" data-depth="1">
            <button class="nav-item-toggle"></button>
            <span class="nav-text" style="cursor: pointer;">Vantage にアクセスする</span>
            <ul class="nav-list">
              <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/run-vantage-express-on-aws.html">AWS で Vantage Express </a>
              </li>
              <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/vantage.express.gcp.html">Google Cloud で Vantage Express</a>
              </li>
              <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/run-vantage-express-on-microsoft-azure.html">Azure で Vantage Express</a>
              </li>
              <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/getting.started.vmware.html">VMware 上で Vantage Express</a>
              </li>
              <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/getting.started.vbox.html">VirtualBox で Vantage Express</a>
              </li>
               <li class="nav-item" data-depth="2">
                <a class="nav-link" href="../general/getting.started.utm.html">UTM で Vantage Express</a>
              </li>             
            </ul>
          </li>
        </ul>
      </li>
      <!--Regulus-->
      <li class="nav-item is-active is-current-path"  data-depth="1">
            <button class="nav-item-toggle"></button>
            <span class="nav-text" style="cursor: pointer;">Regulus (preview)</span>
        <ul class="nav-list">
        <li class="nav-item is-active" data-depth="2">
            <a class="nav-link" href="../regulus/install-regulus-docker-image.html">Docker を使用して Regulus をインストールおよび構成する</a>
        </li>
        <li class="nav-item is-active" data-depth="2">
            <a class="nav-link" href="../regulus/getting-started-with-regulus.html">JupyterLab でサンプル ワークロードを実行する</a>
        </li>
        <li class="nav-item is-active" data-depth="2">
            <a class="nav-link" href="../regulus/regulus-magic-reference.html">Regulus JupyterLab マジック コマンド リファレンス</a>
        </li>
        <li class="nav-item is-active" data-depth="2">
            <a class="nav-link" href="../regulus/using-regulus-workspace-cli.html">Workspaces CLI で Regulus を使用する</a>
        </li>
        </ul>
    </li>
</div>
      